[!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title Sample HAML to HTML Conversion
    :css
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
      }
  %body
    %h1 Welcome to HAML Conversion
    %p This is a simple example of converting HAML into HTML.
    %p
      For more information, check out:
      %a{href="https://haml.info"} HAML Documentation
]
