%h1 I am a big header
%h2 Slightly smaller header
%h3 An even smaller header

%span
  I am inside a span element

%div
  A div element

%p
  A paragraph of text

%ul
  %li First unordered item
  %li Second unordered item

%table
  %tr
    %td I am Cell 1
    %td I am Cell 2
